body {
    background-color: black;
    color: white;
}

#top-header {
    color: black;
}

#time-div {
    display: flex;
    justify-content: center;
}

#start-btn:hover, #stop-btn:hover {
    cursor: pointer;
}

#time-div h3 {
    color: white;
    background-color: rgb(94, 94, 94);
    margin: 0;
    padding: 5pt 10pt;
}